<%= provide(:current_title, @link.title ) %>
<%= provide(:current_description, @link.description ) %>

<h1>Chỉnh sửa link</h1>

<%= render 'form' %>

<%= link_to 'Xem', @link %> |
<%= link_to 'Quay lại', links_path %>
