<% @links.each do |link| %>
  <div class="link row clearfix">
    <h2>
      <%= link_to link.title, link %><br>
      <small class="author">Submitted <%= time_ago_in_words(link.created_at) %> by <%= link.user.name %></small>
    </h2>

    <div>
      <a class="preview-link" href="<%= link.url %>">
        <div class="_<%= link.id %>" >
          <img src="" class="preview-image">
          <div class="preview-title" style="font-weight:bold">
          </div>
          <p class="preview-description"></p>
          <p class="preview-url"></p>
        </div>
      </a>
    </div>
    <script type="text/javascript">
      // for index page
      $( document ).on('page:load', function() {
        // Handler for .ready() called.   
            setTimeout(function() {
                var text = "<%= link.url %>";
          
                 
                // send url to service for parsing
                $.ajax('/linkpreview', {
                    type: 'POST',
                    data: { url: text },
                    success: function(data,textStatus,jqXHR ) {
                        // handle received data
                        $( "._<%= link.id %> > .preview-title").text(data['title']);
                        $( "._<%= link.id %> > .preview-description").text(data['description']);
                        $( "._<%= link.id %> > .preview-image").attr('src', data['image_url']);
                        $( "._<%= link.id %> > .preview-url").text("By " + data['url']);
                    },
                    error: function() { alert("Extract link error"); }
                });
            }, 100);
       
      });
      $( document ).ready(function() {
        // Handler for .ready() called.   
            setTimeout(function() {
                var text = "<%= link.url %>";
                 
                // send url to service for parsing
                $.ajax('/linkpreview', {
                    type: 'POST',
                    data: { url: text },
                    success: function(data,textStatus,jqXHR ) {
                        // handle received data

                        $( "._<%= link.id %> > .preview-title").text(data['title']);
                        $( "._<%= link.id %> > .preview-description").text(data['description']);
                        $( "._<%= link.id %> > .preview-image").attr('src', data['image_url']);
                        $( "._<%= link.id %> > .preview-url").text("By " + data['url']);
                    },
                    error: function() { alert("Extract link error"); }
                });
            }, 100);
       
      });
    </script>

    <div class="btn-group">
      <a class="btn btn-default btn-sm" href="<%= link.url %>">Visit Link</a>
      <%= link_to like_link_path(link), method: :put, class: "btn btn-default btn-sm" do %>
        <span class="glyphicon glyphicon-chevron-up">
        Upvote
        <%= link.get_upvotes.size %>
        </span>
      <% end %>
      <%= link_to dislike_link_path(link), method: :put, class: "btn btn-default btn-sm" do %>
        <span class="glyphicon glyphicon-chevron-down">
        Downvote
        <%= link.get_downvotes.size %>
        </span>
      <% end %>
      <span class="glyphicon">
        <%= social_share_button_tag("My Site") %>
      </span>
    </div>
  </div>
<% end %>