<%= provide(:current_url, root_url) %>
<%= provide(:current_title, "Nơi chia sẻ kiến thức về IT và internet") %>
<%= provide(:current_description, "Xuhuongit.com là nơi chia sẻ những bài viết chất lượng về kiến thức IT cũng như internet, những thông tin mới nhất về công nghệ, xu hướng và tiềm năng của những ngôn ngữ lập trình, framework hay kỹ thuật có thể dẫn đầu công nghệ trong tương lai.") %>

<%= paginate @links %>

<% @links.each do |link| %>
  <div class="link row clearfix">

    <div class="article-list">
      <div class="article-list_item  tile post-tile">
        <article class="article article--micro  category-wordpress ">
          <header class="article_category">
            <h2 class="article_category_title">
             <%= raw link.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %>
            </h2> 
          </header>
          
          <section class="article_header">
            <h1 class="article_title">
              <%= link_to link.title, link, "data-no-turbolink" => "" %>
            </h1>

          
              
            <div class="_<%= link.id %>" >
              <p class="preview-description"><%= link.description %></p>
              <p class="preview-url"><%= link.site_name.upcase %></p>
            </div>
            
      


            <div class="contributor article_contributor">
              <p class="contributor_name article_author-name">by 
                <%= link_to link.user.name, user_path(link.user) %>
              </p>
            </div>
            
            <div class="article_meta-data"><p class="article_pub-date">
              <time datetime="2015-01-29 10:45:24" pubdate="">Submitted <%= time_ago_in_words(link.created_at) %> ago</time></p></div>
            </section>
        </article>
      </div>
    </div>


    <div class="btn-group">
      <a class="btn btn-default btn-sm" href="<%= link.url %>">Visit Link</a>
      <%= link_to like_link_path(link), method: :put, class: "btn btn-default btn-sm" do %>
        <span class="glyphicon glyphicon-chevron-up">
        Upvote
        <%= link.get_upvotes.size %>
        </span>
      <% end %>
      <%= link_to dislike_link_path(link), method: :put, class: "btn btn-default btn-sm" do %>
        <span class="glyphicon glyphicon-chevron-down">
        Downvote
        <%= link.get_downvotes.size %>
        </span>
      <% end %>
      <span class="glyphicon">
        <%= social_share_button_tag("My Site") %>
      </span>
    </div>
  </div>
<% end %>

