<div class="page-header">
  <h1><a href="<%= @link.url %>"><%= @link.title %></a><br> <small>Submitted by <%= @link.user.name %></small></h1>
</div>
  
  <div>
      <a class="preview-link" href="<%= @link.url %>">
        <div class="_<%= @link.id %>" >
          <img src="" class="preview-image">
          <div class="preview-title" style="font-weight:bold">
          </div>
          <p class="preview-description"></p>
          <p class="preview-url"></p>
        </div>
      </a>
  </div>
    <script type="text/javascript">
      // for index page
      $( document ).on('page:load', function() {
        // Handler for .ready() called.   
            setTimeout(function() {
                var text = "<%= @link.url %>";
          
                 
                // send url to service for parsing
                $.ajax('/linkpreview', {
                    type: 'POST',
                    data: { url: text },
                    success: function(data,textStatus,jqXHR ) {
                        // handle received data
                        $( "._<%= @link.id %> > .preview-title").text(data['title']);
                        $( "._<%= @link.id %> > .preview-description").text(data['description']);
                        $( "._<%= @link.id %> > .preview-image").attr('src', data['image_url']);
                        $( "._<%= @link.id %> > .preview-url").text("By " + data['url']);
                    },
                   // error: function() { alert("Extract link error"); }
                });
            }, 100);
       
      });
      $( document ).ready(function() {
        // Handler for .ready() called.   
            setTimeout(function() {
                var text = "<%= @link.url %>";
                 
                // send url to service for parsing
                $.ajax('/linkpreview', {
                    type: 'POST',
                    data: { url: text },
                    success: function(data,textStatus,jqXHR ) {
                        // handle received data

                        $( "._<%= @link.id %> > .preview-title").text(data['title']);
                        $( "._<%= @link.id %> > .preview-description").text(data['description']);
                        $( "._<%= @link.id %> > .preview-image").attr('src', data['image_url']);
                        $( "._<%= @link.id %> > .preview-url").text("By " + data['url']);
                    },
                    //error: function() { alert("Extract link error"); }
                });
            }, 100);
       
      });
    </script>

    <p>Tags: <%= raw @link.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %></p>

<div class="btn-group">
  <%= link_to 'Visit URL', @link.url, class: "btn btn-primary" %>
</div>

<div class="btn-group pull-right">
  <%= link_to like_link_path(@link), method: :put, class: "btn btn-default btn-sm" do %>
    <span class="glyphicon glyphicon-chevron-up"></span>
    Upvote
    <%= @link.get_upvotes.size %>
  <% end %>
  <%= link_to dislike_link_path(@link), method: :put, class: "btn btn-default btn-sm" do %>
    <span class="glyphicon glyphicon-chevron-down">
    Downvote
    <%= @link.get_downvotes.size %>
  <% end %>
  <span class="glyphicon">
    <%= social_share_button_tag("My Site") %>
  </span>
</div>

<% if @link.user == current_user -%>
  <div class="btn-group">
    <%= link_to 'Edit', edit_link_path(@link), class: "btn btn-default" %>
    <%= link_to 'Destroy', @link, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default" %>
  </div>
<% end %>

<h3 class="comments_title">
  <%= @link.comments.count %> Comments
</h3>

<div id="comments">
  <%= render :partial => @link.comments %>
</div>
<%= simple_form_for [@link, Comment.new]  do |f| %>
  <div class="field">
    <%= f.text_area :body, class: "form-control" %>
  </div>
  <br>
  <%= f.submit "Add Comment", class: "btn btn-primary" %>
<% end %>


